## Assignment -  1

###  Import the necessary libraries

In [5]:
import pandas as pd

###  Import the dataset from this(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). <br>
Use sep= "|" while reading the data

In [6]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Assign it to a variable called users and use the 'user_id' as index

In [7]:
df = pd.read_csv(url ,sep='|')

In [8]:
users = df.set_index('user_id')

### See the first 10 and last 10 entries

In [12]:
users.head(10)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [13]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### What is the number of observations in the dataset?

In [17]:
users.describe()
print("There is total 943 number of observation in dataset")

There is total 943 number of observation in dataset

### What is the number of columns in the dataset?

In [25]:
x= len(df.columns)
print(f"There is total {x} number of columns in dataset inlcudint index.")

There is total 5 number of columns in dataset

### Print the name of all the columns.

In [32]:
#Excluding index column
for i in users.columns :
    print(i)

age
gender
occupation
zip_code

In [33]:
#inlucing index column
for i in df.columns :
    print(i)

user_id
age
gender
occupation
zip_code

### How is the dataset indexed?

Dataset is indexed by user id.

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### What is the data type of each column?

In [36]:
datatypes = df.dtypes
datatypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Print only the occupation column

In [40]:
df.occupation
print(df["occupation"])

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### How many different occupations are in this dataset?

Total

In [46]:
l=len(pd.unique(users["occupation"]))
print(f" There are total of {l} different occupations in this dataset")

 There are total of 21 different occupations in this dataset

### What is the most frequent occupation?

In [48]:
fo= users['occupation'].value_counts().idxmax()
print(f"Most frequent occupation is {fo}")

Most frequent occupation is student

###  DataFrame Info.

In [50]:
df.info()
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Describe all the columns

In [80]:
users["age"].describe()
users["gender"].describe()
users["occupation"].describe()
users["zip_code"].describe()

count       943
unique      795
top       55414
freq          9
Name: zip_code, dtype: object

In [69]:
for i in users.columns:
    print(users[f"{i}"].describe())

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64
count     943
unique      2
top         M
freq      670
Name: gender, dtype: object
count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object
count       943
unique      795
top       55414
freq          9
Name: zip_code, dtype: object

### Summarize only the occupation column

In [81]:
users["occupation"].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

###  What is the mean age of users?

In [86]:
meanuser=users["age"].mean()
print(f"The mean age of users is {meanuser}")

The mean age of users is 34.05196182396607

###  What is the age with least occurrence?

In [91]:
loccur= users['age'].value_counts().idxmin()
print(f"The age with least occurrence is {loccur}")

The age with least occurrence is 7